<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" tools:node="remove" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.provider.Settings.ACTION_LOCATION_SOURCE_SETTINGS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--<uses-permission android:name="android.permission.CALL_PHONE" />-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--<uses-permission android:name="android.permission.READ_SMS"></uses-permission>-->

    <!--<permission android:name="com.driverspa.permission.C2D_MESSAGE" />-->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name="com.driverspa.BA"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DriverSpa"
        tools:targetApi="31">
        <activity
            android:exported="true"
            android:name=".activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".client.activity.ClientHomeActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".client.activity.ClientMapActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".client.activity.ClientWasherInfoActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".client.activity.ClientBookingActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".client.activity.ClientBookingTimeTableActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".client.activity.ClientBookingInfoActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".client.activity.ClientProfileActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".client.activity.ClientSettingsActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".client.activity.ClientBooksActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".client.activity.ClientWasherReviewActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".client.activity.ClientAddWasherReviewActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.UserPhotoChangeActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.GalleryPhotosActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".client.activity.ClientAddressMapActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".client.activity.ClientPriceDetailActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".client.activity.ClientCampaignInfoActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".client.activity.ClientAboutUSActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".client.activity.ClientActiveBookingInfoActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.SplashInfoActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.CityChooseActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".client.activity.ClientWaitingRequestActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- [START gcm_receiver] -->
<!--        <receiver-->
<!--            android:name="com.google.android.gms.gcm.GcmReceiver"-->
<!--            android:exported="true"-->
<!--            android:permission="com.google.android.c2dm.permission.SEND">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
<!--                <category android:name="com.driverspa" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
        <!-- [END gcm_receiver] -->

        <!-- [START gcm_listener] -->
<!--        <service-->
<!--            android:name="com.driverspa.gcm.MyGcmListenerService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
<!--            </intent-filter>-->
<!--        </service>-->
        <!-- [END gcm_listener] -->

        <!-- [START instanceId_listener] -->
<!--        <service-->
<!--            android:name="com.driverspa.gcm.MyInstanceIDListenerService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.android.gms.iid.InstanceID" />-->
<!--            </intent-filter>-->
<!--        </service>-->
<!--        &lt;!&ndash; [END instanceId_listener] &ndash;&gt;-->

<!--        <service android:name="com.driverspa.gcm.RegistrationIntentService" android:exported="false"></service>-->

<!--        <service android:name=".service.Service"-->
<!--            android:label="Сервис DriverSpa"/>-->

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.version"-->
<!--            android:value="@integer/google_play_services_version" />-->
<!--        <service-->
<!--            android:name=".fcm.MyFirebaseMessagingService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyB26de6oG6FEW2dKTVqYAQvaIKeMx_c_9k" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </application>

</manifest>